.user-list-wrapper
	flex-basis 20%
	font-size 18px
	border-right 1px solid #f3f3f3
	text-align center
	button
		font-family inherit
		width 130px
		padding 15px
		margin 10px auto
		border 1px solid #e3e3e3
		border-radius 10px
		background-color white
		outline none
		cursor pointer
		font-size 15px
		text-transform uppercase
	.user-list
		margin 0
		padding 0px 0px 10px 0px
		list-style none
		text-align left
		font-size 18px
		.user-list-item
			background-color none
			padding 15px 0px 15px 10px
			border-top 1px solid #e3e3e3
			cursor pointer
			&.active
				background-color #f3f3f3
