.user-detail
	flex-basis 80%
	margin 0
	padding 10px 10px 10px 10px
	background-color #f3f3f3
	font-size 18px
	.user-detail-photo
		.user-photo
			width 200px
			height 200px
	.user-detail-item
		display flex
		flex-wrap wrap
		.user-detail-label
			min-width 20%
			padding 10px
			box-sizing border-box
			font-weight 600
		.user-detail-content
			width 75%
			padding 10px
			box-sizing border-box
	button
		width 130px
		padding 15px
		margin 10px
		border 1px solid #d3d3d3
		border-radius 10px
		background-color white
		outline none
		cursor pointer
		font-family inherit
		font-size 15px
		text-transform uppercase
