.tree-wrapper
	padding 10px
	.tree-title
		font-size 20px
		font-weight 600
	ul
		margin 0
		padding 1px 0px 1px 25px
		list-style none
		font-size 18px
		li
			padding 2px 0
		button
			margin 0 2px
			font-family inherit
			font-size 16px
			text-transform uppercase
		input
			font-family inherit
			font-size 16px
			outline none
