.app {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app .main-menu {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 10px 10px 0px 10px;
  border-bottom: 1px solid #e9e8e8;
  font-size: 18px;
}
.app .main-menu a {
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.app .main-menu a:first-child {
  padding-left: 0px;
}
.users-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px 10px 10px;
  height: 100vh;
}
.user-list-wrapper {
  flex-basis: 20%;
  font-size: 18px;
  border-right: 1px solid #f3f3f3;
  text-align: center;
}
.user-list-wrapper button {
  font-family: inherit;
  width: 130px;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
.user-list-wrapper .user-list {
  margin: 0;
  padding: 0px 0px 10px 0px;
  list-style: none;
  text-align: left;
  font-size: 18px;
}
.user-list-wrapper .user-list .user-list-item {
  background-color: none;
  padding: 15px 0px 15px 10px;
  border-top: 1px solid #e3e3e3;
  cursor: pointer;
}
.user-list-wrapper .user-list .user-list-item.active {
  background-color: #f3f3f3;
}
.user-detail {
  flex-basis: 80%;
  margin: 0;
  padding: 10px 10px 10px 10px;
  background-color: #f3f3f3;
  font-size: 18px;
}
.user-detail .user-detail-photo .user-photo {
  width: 200px;
  height: 200px;
}
.user-detail .user-detail-item {
  display: flex;
  flex-wrap: wrap;
}
.user-detail .user-detail-item .user-detail-label {
  min-width: 20%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 600;
}
.user-detail .user-detail-item .user-detail-content {
  width: 75%;
  padding: 10px;
  box-sizing: border-box;
}
.user-detail button {
  width: 130px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  text-transform: uppercase;
}
.user-edit-form-wrapper h2 {
  padding: 5px 10px;
  margin: 5px 0;
}
.user-edit-form-wrapper .user-edit-form {
  padding: 5px;
  font-size: 18px;
}
.user-edit-form-wrapper .user-edit-form .form-photo-wrapper .form-photo {
  width: 200px;
  height: 200px;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper {
  max-width: 40%;
  padding: 3px 0;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input-label {
  padding: 3px 0;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input-label .span-required {
  color: #f00;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  outline: none;
  padding: 2px;
  font-family: inherit;
  font-size: inherit;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input.error {
  border: 1px solid #f00;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input.error ~.form-input-error {
  display: block;
  color: #f00;
}
.user-edit-form-wrapper .user-edit-form .form-input-wrapper .form-input-error {
  display: none;
}
.user-edit-form-wrapper .user-edit-form .form-submit-button {
  width: 100px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  text-transform: uppercase;
}
.user-edit-form-wrapper .user-edit-form .form-submit-button:first-of-type {
  margin-left: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
